// Media Query Mixins

@mixin mq($break) {
    @if $break == "mobile" {
        @media (min-width: $brk-mobile) {
            @content;
        }
    }
    @else if $break == "tablet" {
        @media (min-width: $brk-tablet) {
            @content; }
    }

    @else if $break == "dsktp" {
        @media (min-width: $brk-dsktp) {
            @content;
        }
    }

// Flexbox Mixins

@mixin flex($flex: flex) {
    display: $flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    @content;
}