// Media Query Mixins

@mixin mobile {
    @media (min-width: $brk-mobile) {
            @content;
        }
    }

@mixin tablet {
    @media (min-width: $brk-tablet) {
            @content; }
    }

@mixin dsktp {
    @media (min-width: $brk-dsktp) {
            @content;
        }
}

// Flexbox Mixins

@mixin flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    @content;
}

// Navigation Mixins

@mixin nav {
    list-style: none;
    text-align: center;
    font-family: $font-family-primary;
    font-weight: $medium-font;
}

@mixin nav_buttons {
    text-decoration: none;
    color: #000;
}

// Grid Mixins

@mixin grid {
    line-height: 35px;
    border-radius: 4px;
    padding-left: 10px;
    width: 95%;
}