%link {
    color: $link-example-color;
}

%headline--primary {
    color: $headline-color;
}

%button--text {
    text-transform: uppercase;
    color: #fff;
}

%grid_cols {
    margin-top: 10px;
    flex-basis: 100%;
    margin-top: 0;
}