// Font Stacks

$lato-font                : 'https://fonts.googleapis.com/css?family=Lato:300,300i,400,700,700i&display=swap';

$font-family-primary      : 'Lato', Helvetica, Arial- sans-serif;

// Font Variables

$light-font               : 300;
$medium-font              : 400;
$heavy-font               : 700;
$headline-color           : #58E1C1;
$link-example-color       : #51DDFC;

// Button Colors

$nav_color                : #58E1C1;
$login_and_def_color      : #51DDFC;
$success_color            : #63CC82;
$error_color              : #E4757A;
$warning_color            : #FD7856;
$info_color               : #927BC1;

// More Color Variables

$user_color               : #58E1C1;

// Color Names for Grid

$turquoise-blue           : #80E8D1;
$viking                   : #3FABCA;
$electric-blue            : #7EE6FD;
$wisteria                 : #DEB2EE;
$granny-smith             : #88D9A0;
$wax-flower               : #EC9FA3;
$mona-lisa                : #FD9F85;


// Media Query Breakpoints

$brk-mobile               : '(min-width: 480px)';
$brk-tablet               : '(min-width: 768px)';   
$brk-dsktp                : '(min-width: 1400px)';