.btn--default {
    background-color: $login_and_def_color;
}

.btn--success {
    background-color: $success_color;
}

.btn--error {
    background-color: $error_color;
}

.btn--warning {
    background-color: $warning_color;
}

.btn--info {
    background-color: $info_color;
}

.grid__col--12 button {
   @include mobile-button;
    @include flex;
}


@include mq(dsktp) {
    .grid__col--12 button {
      @include button;
    }
}