.form__label--hidden {
    display: $no;
}

.form__input {
   @include form_input;
}

.form button {
    width: 85%;
    @extend%button--text;
    height: 40px;
    margin-left: 20px;
    border: $no;
    border-radius: 4px;
}


@include dsktp {
 @include dsktp_form;
}