.form__label--hidden {
    display: $no;
}

.form__input {
   @include form_input;
}

.form button {
    width: 85%;
    margin: 0 auto;
    display: inherit;
    @extend%button--text;
    height: 40px;
    border: $no;
    border-radius: 4px;
}


@include mq(dsktp) {
 @include dsktp_form;
}