// **********************************************
// _grid.scss
// styles related to the grid system and
// main container.
// major grid styles have been added here for you
// but additional styling may be needed
// **********************************************


// grid base class
.grid {

  // .grid__row
  &__row {
    padding: 1em 10px;
    display: flex;
    flex-direction: column;

    // NOTE: replace with media query mixin if aiming for exceeds
    @include tablet {
      flex-direction: row;
    }

  // .grid__col
  &__col {

    // create grid columns dynamically
    // loop through each column size
    @for $i from 1 through 12 {

      // concatenate CSS selector, ie when $i = 1,
      // selector would be .grid__col--1
      //&--#{$i}

        @extend %grid_cols;

        // NOTE: replace with media query mixin if aiming for exceeds
        @include tablet {
          .grid__col--12.theme__colors,
          .grid__col--6.theme__colors,
          .grid__col--4.theme__colors,
          .grid__col--3.theme__colors,
          .grid__col--5.theme__colors,
          .grid__col--7.theme__colors,
          .grid__col--8.theme__colors {
            @include big_grid;
          }


          // make column width a percentage of the column number / total columns
          flex-basis: #{$i / 12 * 100 + "%"} ;
        }
      }
    }
  }
}

// Grid Colors

.grid__col--12.theme__colors {
  background-color: $turquoise-blue;
}

.grid__col--6.theme__colors {
  background-color: $viking;
  @extend %grid_space;
}

.grid__col--4.theme__colors {
  background-color: $electric-blue;
  @extend %grid_space;
}

.grid__col--3.theme__colors {
  background-color: $wisteria;
  @extend %grid_space;
  margin-left: 5px;
}

.grid__col--5.theme__colors {
  background-color: $granny-smith;
  @extend %grid_space;
}

.grid__col--7.theme__colors {
  background-color: $wax-flower;
}

.grid__col--8.theme__colors {
  background-color: $mona-lisa;
  @extend %grid_space;
}

.centered {
  margin-bottom: 20px;
}

// targets all elements with classes that begin with grid__col
[class^=grid__col] {
  // grid__col + grid__col, targets two sibling columns
  & + & {

    // NOTE: replace with media query mixin if aiming for exceeds
    @include tablet {

      // add grid gutter
      margin-left: 10px;
    }
  }
  }

  .grid__col--12.theme__colors,
  .grid__col--6.theme__colors,
  .grid__col--4.theme__colors,
  .grid__col--3.theme__colors,
  .grid__col--5.theme__colors,
  .grid__col--7.theme__colors,
  .grid__col--8.theme__colors {
    @include grid;
  }

// Refactor later in SCSS!

@media (min-width: 1400px) {
  .grid__col--12.theme__colors,
  .grid__col--6.theme__colors,
  .grid__col--4.theme__colors,
  .grid__col--3.theme__colors,
  .grid__col--5.theme__colors,
  .grid__col--7.theme__colors,
  .grid__col--8.theme__colors {
    text-align: center;
    display: flex;
    margin-left: 60px;
    margin-right: 60px;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
}