.img--logo {
    display: block;
    margin: 0 auto;
}

.img--frame {
    @extend %img;
    border: 1px solid grey;
    padding: 10px;
}

.img--avatar {
    @extend %img;
    padding-top: 25px;
}


@include dsktp {
    .img--logo {
        padding-right: 100px;
        margin-left: 0;
      }

    .img--frame {
        margin-left: 80px;
      }
    
    .grid__col--6 .img--avatar {
        margin-left: 625px;
      }
}