.img--avatar {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.img--frame {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: double 16px lightgrey;
    // FIX BORDER
}

