// **************************************
// components/_index.scss
// used to import individual components
// **************************************

// import the grid component
@import 'grid';

// NOTE: import other components here:

@import 'typography';



.container {
    text-align: center;
}

ul {
    list-style-type: none;
}

.nav {
    text-align: center;
    li {
        
        display: block;
    }
}