.nav { 
    padding: 0;
    display: block;
}

.nav__item {
    line-height: 45px;
    margin-bottom: 5px;

    @include nav;
    @include flex;

    &:hover {
        background-color: $nav_color;
        border-radius: 5px;
        a {
            color: #fff;
        }
    }
}

.nav__item a {
    @include nav_buttons;
}

@include mq(tablet) {
    .nav {
     display: flex;
     justify-content: center;
    }

    .nav li {
     margin-left: 20px;
    }
  
    .nav__item {
      display: inline-block;
      margin-top: 20px;
      padding-right: 15px;
      margin-right: 50px;
    }
    
    .grid__col--9 ul {
      padding-right: 75px;
    }
    
    .nav__item a {
      margin-left: 20px;
    }
    
    .headline--primary {
      margin-left: 65px;
    }
    
    .headline--secondary {
      margin-left: 30px;
    }
  }
  
  