.grid__col--9 ul { 
    padding: 0;
    display: block;
    
}

.nav li {
    line-height: 45px;
    margin-bottom: 5px;

    @include nav;

    &:hover {
        background-color: $nav_color;
        border-radius: 5px;
        a {
            color: #fff;
        }
    }
}

.nav__item {
    @include flex;
}

.nav__item a {
    @include nav_buttons;
}


.grid__col--3 {
    margin: auto;
}

