.grid__col--9 ul { 
    padding: 0;
    display: block;
}

.nav li {
    line-height: 25px;
    margin-bottom: 15px;

    @include nav;

    &hover {
        background-color: $nav_color;
        color: #fff;
        border-radius: 5px;
    }
}

.nav__item {
    @include flex;
}

.nav__item a {
    @include nav_buttons;
}


.grid__col--3 {
    margin: auto;
}

