.headline--primary {
    @extend%headline--primary;
    font-weight: bold;
    width: 70%;
    padding-left: 40px;
}

.headline--secondary {
    @extend%headline--secondary;
    margin-left: 20px;
}

.card p {
    @include dsktp {
        width: 85%;
        margin-left: 50px;
    }
}

p {
    line-height: 27px;
    padding-left: 25px;
    padding-right: 25px;
    margin-right: 10px;
    margin-left: 10px;
}

.link {
    text-decoration-line: none;
}

.card h4 {
    padding-left: 20px;
}

.link {
    @extend%link;
}

.blockquote {
    @include flex;
    font-style: italic;
    font-size: 28px;
    line-height: 32px;
    border-left: 7px solid #58E1C1;
    border-radius: 4px;
    padding-left: 15px;
}

.form {
    padding-top: 50px;
}

// Refactor later!

@media (min-width: 1400px) {
    .grid__col--12 p {
        margin-left: 130px;
    }

    .card .headline--secondary {
        margin-left: 130px;
    }

    .card  .headline--primary {
        margin-left: 150px;
    }

    .grid__col--8 p {
        padding-top: 20px;
        margin-left: 130px;
        width: 80%;
      }

    .blockquote {
      margin-left: 190px;
      padding-left: 45px;
      line-height: 45px;
      width: 60%;
    }
}